/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url("http://fonts.googleapis.com/css?family=Orbitron");

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */











/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Custom Syles */

.indicator {
  z-index: 100;
  position: relative;
  background-color: red;
  border-radius:15px;
  width: 12px;
  height: 12px;
}

#iss-container {
  max-width: 800px;
}

#thrust-container {
  height: 50px;
  border: 1px solid aquamarine;
-webkit-filter: drop-shadow(0px 0px 10px mediumaquamarine);
}

#thrust-meter {
  width: 1%;
  height: 100%;
  background-color: aquamarine;

}

#direction-box {
  display: inline-block;
  width: auto;
  height: auto;

}

.body-wrap {
  padding-left: 40px;
  padding-right: 40px;
}


.shadow-separator {
  height: 20px;
margin-top: -30px;
  overflow: hidden;
  width: 100%;
}
.shadow-separator:after {
  border-radius: 100%;
  box-shadow: 0 0 10px #ececec;
  content: "";
  display: block;
  height: 100%;
  position: relative;
  top: +100%;
}




h1 {
  font-family: 'Orbitron' !important;
  color: aquamarine !important;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body,
.inner {
  height: 100%;
}
body {
  background: #000 url("https://s-media-cache-ak0.pinimg.com/originals/b3/b5/01/b3b5017c06a693ceb7a6c5c279a5795d.jpg") no-repeat;
  background-size: cover;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden;
}

.bg{
  position: absolute;
  left: -10%;
  top: -10%;
  width: 130%;
  height: 130%;
  z-index: -1;
  background: #000 url("https://s-media-cache-ak0.pinimg.com/originals/b3/b5/01/b3b5017c06a693ceb7a6c5c279a5795d.jpg") no-repeat;
  -webkit-transform: rotate3d(0, 1, 0, 25deg);
  -ms-transform: rotate3d(0, 1, 0, 25deg);
  transform: rotate3d(0, 1, 0, 25deg);
  color: #0ff;

  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-animation: rotate3d2 15s infinite linear;
  -ms-animation: rotate3d2 15s infinite linear;
  animation: rotate3d2 15s infinite linear;

}
.control-panel {
  font-family: 'Orbitron';
  font-weight: 100;
  font-size: 14px;
  width: 100%;
  margin: 0 auto 52px auto;
  color: #0ff;
}
.control-panel-monitor,
.control-panel-controls {
  padding: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background: rgba(0,255,255,0.05);
  box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
  position: relative;
}
.control-panel-monitor:before,
.control-panel-controls:before,
.control-panel-monitor:after,
.control-panel-controls:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,255,255,0.05);
  border: 1px solid;
  box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
}
.control-panel-monitor:before,
.control-panel-controls:before {
  left: -2px;
  color: #f00;
}
.control-panel-monitor:after,
.control-panel-controls:after {
  left: 2px;
  color: #00f;
}
.control-panel-monitor:before {
  clip: rect(23px, 400px, 10px, 0);
  -webkit-animation: glitch-1 100ms infinite linear alternate;
  -ms-animation: glitch-1 100ms infinite linear alternate;
  animation: glitch-1 100ms infinite linear alternate;
}
.control-panel-monitor:after {
  clip: rect(72px, 400px, 23px, 0);
  -webkit-animation: glitch-2 100ms infinite linear alternate;
  -ms-animation: glitch-2 100ms infinite linear alternate;
  animation: glitch-2 100ms infinite linear alternate;
}
.control-panel-controls {
  -webkit-transform: rotateX(-20deg) translateZ(50px);
  -ms-transform: rotateX(-20deg) translateZ(50px);
  transform: rotateX(-20deg) translateZ(50px);
}
.control-panel-controls:before {
  clip: rect(29px, 400px, 6px, 0);
  -webkit-animation: glitch-3 100ms infinite linear alternate-reverse;
  -ms-animation: glitch-3 100ms infinite linear alternate-reverse;
  animation: glitch-3 100ms infinite linear alternate-reverse;
}
.control-panel-controls:after {
  clip: rect(83px, 400px, 4px, 0);
  -webkit-animation: glitch-4 100ms infinite linear alternate-reverse;
  -ms-animation: glitch-4 100ms infinite linear alternate-reverse;
  animation: glitch-4 100ms infinite linear alternate-reverse;
}
.control-panel-inner-panel {
  border: 1px solid #fff;
  box-shadow: 0 0 5px 1px #0ff, 0 0 5px 1px #0ff inset;
  padding: 1em;
  height: 100%;
  -webkit-transform: translateZ(15px);
  -ms-transform: translateZ(15px);
  transform: translateZ(15px);
  -webkit-animation: rotate3d2 14s 1s infinite linear;
  -ms-animation: rotate3d2 14s 1s infinite linear;
  animation: rotate3d2 14s 1s infinite linear;
  -webkit-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  transform-origin: center bottom;
}
@-webkit-keyframes glitch-1 {
  0% {
    clip: rect(122px, 9999px, 72px, 0);
  }
  0.1% {
    clip: rect(83px, 9999px, 200px, 0);
  }
  0.2% {
    clip: rect(71px, 9999px, 123px, 0);
  }
  0.3% {
    clip: rect(89px, 9999px, 166px, 0);
  }
  0.4% {
    clip: rect(144px, 9999px, 133px, 0);
  }
  0.5% {
    clip: rect(29px, 9999px, 170px, 0);
  }
  0.6% {
    clip: rect(16px, 9999px, 152px, 0);
  }
  0.7% {
    clip: rect(48px, 9999px, 116px, 0);
  }
  0.8% {
    clip: rect(29px, 9999px, 152px, 0);
  }
  0.9% {
    clip: rect(50px, 9999px, 29px, 0);
  }
  1% {
    clip: rect(28px, 9999px, 33px, 0);
  }
}
@keyframes glitch-1 {
  0% {
    clip: rect(122px, 9999px, 72px, 0);
  }
  0.1% {
    clip: rect(83px, 9999px, 200px, 0);
  }
  0.2% {
    clip: rect(71px, 9999px, 123px, 0);
  }
  0.3% {
    clip: rect(89px, 9999px, 166px, 0);
  }
  0.4% {
    clip: rect(144px, 9999px, 133px, 0);
  }
  0.5% {
    clip: rect(29px, 9999px, 170px, 0);
  }
  0.6% {
    clip: rect(16px, 9999px, 152px, 0);
  }
  0.7% {
    clip: rect(48px, 9999px, 116px, 0);
  }
  0.8% {
    clip: rect(29px, 9999px, 152px, 0);
  }
  0.9% {
    clip: rect(50px, 9999px, 29px, 0);
  }
  1% {
    clip: rect(28px, 9999px, 33px, 0);
  }
}
@-webkit-keyframes glitch-2 {
  0% {
    clip: rect(54px, 9999px, 40px, 0);
  }
  0.1% {
    clip: rect(140px, 9999px, 129px, 0);
  }
  0.2% {
    clip: rect(59px, 9999px, 120px, 0);
  }
  0.3% {
    clip: rect(168px, 9999px, 96px, 0);
  }
  0.4% {
    clip: rect(43px, 9999px, 91px, 0);
  }
  0.5% {
    clip: rect(62px, 9999px, 189px, 0);
  }
  0.6% {
    clip: rect(64px, 9999px, 42px, 0);
  }
  0.7% {
    clip: rect(84px, 9999px, 139px, 0);
  }
  0.8% {
    clip: rect(124px, 9999px, 133px, 0);
  }
  0.9% {
    clip: rect(78px, 9999px, 94px, 0);
  }
  1% {
    clip: rect(90px, 9999px, 29px, 0);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(54px, 9999px, 40px, 0);
  }
  0.1% {
    clip: rect(140px, 9999px, 129px, 0);
  }
  0.2% {
    clip: rect(59px, 9999px, 120px, 0);
  }
  0.3% {
    clip: rect(168px, 9999px, 96px, 0);
  }
  0.4% {
    clip: rect(43px, 9999px, 91px, 0);
  }
  0.5% {
    clip: rect(62px, 9999px, 189px, 0);
  }
  0.6% {
    clip: rect(64px, 9999px, 42px, 0);
  }
  0.7% {
    clip: rect(84px, 9999px, 139px, 0);
  }
  0.8% {
    clip: rect(124px, 9999px, 133px, 0);
  }
  0.9% {
    clip: rect(78px, 9999px, 94px, 0);
  }
  1% {
    clip: rect(90px, 9999px, 29px, 0);
  }
}
@-webkit-keyframes glitch-3 {
  0% {
    clip: rect(185px, 9999px, 90px, 0);
  }
  0.1% {
    clip: rect(120px, 9999px, 123px, 0);
  }
  0.2% {
    clip: rect(137px, 9999px, 1px, 0);
  }
  0.3% {
    clip: rect(34px, 9999px, 112px, 0);
  }
  0.4% {
    clip: rect(101px, 9999px, 75px, 0);
  }
  0.5% {
    clip: rect(116px, 9999px, 11px, 0);
  }
  0.6% {
    clip: rect(97px, 9999px, 62px, 0);
  }
  0.7% {
    clip: rect(57px, 9999px, 93px, 0);
  }
  0.8% {
    clip: rect(76px, 9999px, 29px, 0);
  }
  0.9% {
    clip: rect(105px, 9999px, 68px, 0);
  }
  1% {
    clip: rect(114px, 9999px, 143px, 0);
  }
}
@keyframes glitch-3 {
  0% {
    clip: rect(185px, 9999px, 90px, 0);
  }
  0.1% {
    clip: rect(120px, 9999px, 123px, 0);
  }
  0.2% {
    clip: rect(137px, 9999px, 1px, 0);
  }
  0.3% {
    clip: rect(34px, 9999px, 112px, 0);
  }
  0.4% {
    clip: rect(101px, 9999px, 75px, 0);
  }
  0.5% {
    clip: rect(116px, 9999px, 11px, 0);
  }
  0.6% {
    clip: rect(97px, 9999px, 62px, 0);
  }
  0.7% {
    clip: rect(57px, 9999px, 93px, 0);
  }
  0.8% {
    clip: rect(76px, 9999px, 29px, 0);
  }
  0.9% {
    clip: rect(105px, 9999px, 68px, 0);
  }
  1% {
    clip: rect(114px, 9999px, 143px, 0);
  }
}
@-webkit-keyframes glitch-4 {
  0% {
    clip: rect(162px, 9999px, 80px, 0);
  }
  0.1% {
    clip: rect(52px, 9999px, 121px, 0);
  }
  0.2% {
    clip: rect(4px, 9999px, 41px, 0);
  }
  0.3% {
    clip: rect(112px, 9999px, 4px, 0);
  }
  0.4% {
    clip: rect(49px, 9999px, 11px, 0);
  }
  0.5% {
    clip: rect(104px, 9999px, 47px, 0);
  }
  0.6% {
    clip: rect(127px, 9999px, 108px, 0);
  }
  0.7% {
    clip: rect(107px, 9999px, 144px, 0);
  }
  0.8% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  0.9% {
    clip: rect(126px, 9999px, 39px, 0);
  }
  1% {
    clip: rect(167px, 9999px, 71px, 0);
  }
}
@keyframes glitch-4 {
  0% {
    clip: rect(162px, 9999px, 80px, 0);
  }
  0.1% {
    clip: rect(52px, 9999px, 121px, 0);
  }
  0.2% {
    clip: rect(4px, 9999px, 41px, 0);
  }
  0.3% {
    clip: rect(112px, 9999px, 4px, 0);
  }
  0.4% {
    clip: rect(49px, 9999px, 11px, 0);
  }
  0.5% {
    clip: rect(104px, 9999px, 47px, 0);
  }
  0.6% {
    clip: rect(127px, 9999px, 108px, 0);
  }
  0.7% {
    clip: rect(107px, 9999px, 144px, 0);
  }
  0.8% {
    clip: rect(61px, 9999px, 52px, 0);
  }
  0.9% {
    clip: rect(126px, 9999px, 39px, 0);
  }
  1% {
    clip: rect(167px, 9999px, 71px, 0);
  }
}
@-webkit-keyframes rotate3d {
  0%, 100% {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    transform: rotateY(10deg);
  }
  75% {
    -webkit-transform: rotateY(-10deg);
    -ms-transform: rotateY(-10deg);
    transform: rotateY(-10deg);
  }
}
@keyframes rotate3d {
  from {
    -webkit-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes rotate3d2 {
  0%, 100% {
    -webkit-transform: translateZ(15px) rotateY(0);
    -ms-transform: translateZ(15px) rotateY(0);
    transform: translateZ(15px) rotateY(0);
  }
  50% {
    -webkit-transform: translateZ(15px) rotateY(-10deg);
    -ms-transform: translateZ(15px) rotateY(-10deg);
    transform: translateZ(15px) rotateY(-10deg);
  }
}
@keyframes rotate3d2 {
  0%, 100% {
    -webkit-transform: translateZ(15px) rotateY(0);
    -ms-transform: translateZ(15px) rotateY(0);
    transform: translateZ(15px) rotateY(0);
  }
  50% {
    -webkit-transform: translateZ(15px) rotateY(-10deg);
    -ms-transform: translateZ(15px) rotateY(-10deg);
    transform: translateZ(15px) rotateY(-10deg);
  }
}



#map-container {
  -webkit-transform: rotate3d(0, 1, 0, 3deg);
  -ms-transform: rotate3d(0, 1, 0, 3deg);
  transform: rotate3d(0, 1, 0, 3deg);
}

#direction-container-outer {
    -webkit-transform: rotate3d(0, 1, 0, -5deg);
  -ms-transform: rotate3d(0, 1, 0, -5deg);
  transform: rotate3d(0, 1, 0, -5deg);

}

#speed-meter-outer {
    -webkit-transform: rotate3d(0, 1, 0, 3deg);
  -ms-transform: rotate3d(0, 1, 0, 3deg);
  transform: rotate3d(0, 1, 0, 3deg);
}

#iss-svg {
  -webkit-filter: brightness(41%) sepia(90%) hue-rotate(-9deg) invert(1) drop-shadow(0px 0px 10px mediumaquamarine);

}

#crosshair-svg {
  -webkit-filter: invert(1) drop-shadow(0px 0px 10px mediumaquamarine);
}

#mission-control-message {
   height: 70px;
   margin-top: 18px;
   margin-bottom: -47px;
   color: aqua;
}

